%h2= @interchange.title
%h3= @interchange.model
%p= @interchange.condition
%p= @interchange.price
%p= @interchange.location
%p= @interchange.description
%p= @interchange.change_in


= link_to "Back", root_path, class: "btn btn-default"


